#Createdby.ignoresupportplugin(hsz.mobi)
.gradle/
.idea/
annotation/annotation.iml
annotation/build/
annotation/compiler/build/
annotation/compiler/compiler.iml
annotation/compiler/test/build/
annotation/compiler/test/compiler-test.iml
glide-parent.iml
glide.iml
gradle/
gradlew
gradlew.bat
instrumentation/build/
instrumentation/instrumentation.iml
integration/gifencoder/build/
integration/gifencoder/gifencoder.iml
integration/integration.iml
integration/okhttp/build/
integration/okhttp/okhttp.iml
integration/okhttp3/build/
integration/okhttp3/okhttp3.iml
integration/recyclerview/build/
integration/recyclerview/recyclerview.iml
integration/volley/build/
integration/volley/volley.iml
library/build/generated/
library/build/intermediates/annotations_zip/
library/build/intermediates/check_manifest_result/
library/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
library/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
library/build/intermediates/incremental/packageDebugResources/stripped.dir/
library/build/intermediates/intermediate-jars/
library/build/intermediates/library_and_local_jars_jni/
library/build/intermediates/library_assets/
library/build/intermediates/lint_publish_jar/
library/build/intermediates/merged_jni_libs/
library/build/intermediates/merged_manifests/debugAndroidTest/
library/build/intermediates/merged_shaders/
library/build/intermediates/packaged-classes/debug/libs/
library/build/intermediates/public_res/
library/build/intermediates/shader_assets/
library/build/intermediates/tmp/
library/build/tmp/
library/test/build/generated/
library/test/build/intermediates/annotations_zip/
library/test/build/intermediates/blame/
library/test/build/intermediates/check_manifest_result/
library/test/build/intermediates/consumer_proguard_file/
library/test/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/
library/test/build/intermediates/incremental/debug-mergeJniLibs/zip-cache/
library/test/build/intermediates/incremental/mergeDebugResources/merged.dir/
library/test/build/intermediates/incremental/mergeDebugResources/stripped.dir/
library/test/build/intermediates/incremental/packageDebugResources/merged.dir/
library/test/build/intermediates/incremental/packageDebugResources/stripped.dir/
library/test/build/intermediates/library_and_local_jars_jni/
library/test/build/intermediates/library_assets/
library/test/build/intermediates/lint_publish_jar/
library/test/build/intermediates/merged_jni_libs/
library/test/build/intermediates/merged_manifests/debugAndroidTest/
library/test/build/intermediates/merged_shaders/
library/test/build/intermediates/packaged-classes/debug/libs/
library/test/build/intermediates/packaged_res/
library/test/build/intermediates/public_res/
library/test/build/intermediates/res/merged/
library/test/build/intermediates/shader_assets/
library/test/build/intermediates/tmp/
local.properties
samples/contacturi/build/
samples/contacturi/contacturi.iml
samples/flickr/build/
samples/flickr/flickr.iml
samples/gallery/build/
samples/gallery/gallery.iml
samples/giphy/build/
samples/giphy/giphy.iml
samples/imgur/build/
samples/imgur/imgur.iml
samples/samples.iml
samples/svg/build/
samples/svg/svg.iml
testutil/testutil.iml
third_party/disklrucache/build/
third_party/disklrucache/disklrucache.iml
third_party/gif_decoder/build/
third_party/gif_decoder/gif_decoder.iml
third_party/third_party.iml
